# Front-end env example
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Analytics / Pixels (opcionales)
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_ID_ANALYTICS=
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=
