@font-face {
    font-family: 'Anton';
    src: url('/fonts/ANTON/Anton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Rasioline';
    src: url('/fonts/rasioline/DD rasioline.otf') format('opentype'),
        url('/fonts/rasioline/DD rasioline.ttf') format('truetype'),
        url('/fonts/rasioline/rasioline extrude.otf') format('opentype'),
        url('/fonts/rasioline/rasioline extrude.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Spot Light';
    src: url('/fonts/SPOT LIGHT/Spot Light.otf') format('opentype'),
        url('/fonts/SPOT LIGHT/Spot Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Uni North';
    src: url('/fonts/UNI NORTH/UNINorth-College.otf') format('opentype'),
        url('/fonts/UNI NORTH/UniNorth-Italic.otf') format('opentype'),
        url('/fonts/UNI NORTH/UniNorth-Letterpress.otf') format('opentype'),
        url('/fonts/UNI NORTH/UniNorth-Letterpressitalic.otf') format('opentype'),
        url('/fonts/UNI NORTH/UniNorth-Outline.otf') format('opentype'),
        url('/fonts/UNI NORTH/UniNorth-Regular.otf') format('opentype'),
        url('/fonts/UNI NORTH/UniNorth-Thin.otf') format('opentype'),
        url('/fonts/UNI NORTH/UniNorth-University.otf') format('opentype'),
        url('/fonts/UNI NORTH/UniNorth-UniversityItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  .anton {
    font-family: 'Anton', sans-serif;
  }

  .rasioline {
    font-family: 'Rasioline', sans-serif;
  }

  .spotlight {
    font-family: 'Spot Light', sans-serif;
  }

  .uninorth {
    font-family: 'Uni North', sans-serif;
  }