.moveable-control.moveable-direction {
    background-color: transparent !important;
    border-color: transparent !important;
    width: 18px !important;
    height: 18px !important;
}

.moveable-control.moveable-direction.moveable-se {
    background-color: transparent !important;
    border-color: transparent !important;
    width: 18px !important;
    top: 2em !important;
    left: -15px !important;
    width: 25px !important;
    height: 25px !important;
}

.moveable-control.moveable-rotation-control {
    background-color: transparent !important;
    border-color: transparent !important;
    width: 25px !important;
    height: 25px !important;
    left: -4.6px !important;
    top: -3px !important;
}

.moveable-line.moveable-direction {
    border: 2px dashed #CA0B0B !important;
    background-color: transparent !important;
}

.moveable-line.moveable-rotation-line {
    background-color: transparent !important;
    top: 3px !important;
    height: 30px !important;
}